@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Actions";
}

<ul>
    <li><a href="/Home/Itupeva">Noticias Itupeva</a></li>
    <li><a href="/Home/Jundiai">Noticias Jundiai</a></li>
    <li><a href="/Home/Varzea">Noticias Varzea</a></li>
</ul>
